body {
    margin: 0px;
    padding: 0px;
    position: relative;
    text-align: center;
}

h1 {
    margin: 0px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}

h3 {
    margin: 0px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: white;
}

#navbar {
    position: fixed;
    top: 0px;
    height: 60px;
    width: 100%;
    overflow: hidden;
    background-color: rgb(30, 30, 133);
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

#navbar > a {
    margin: 0 25px;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ; 
}
#welcome-section > h1 {
    margin-bottom: 0px;
}
#welcome-section > h3 {
    color: rgb(90, 90, 133);
}

#welcome-section {
    background-color: rgb(51, 51, 51);
    color:white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /*align vertical*/
    align-items: center; /*align horizontal*/
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center; /*align horizontal*/
    background-color:cornflowerblue;
    height: 100vh;
}

#projects > h1 {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 36px;
    text-decoration: underline;
}

.project-tiles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

#contact {
    background-color: rgb(51, 51, 51);
    color:white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /*align vertical*/
    align-items: center; /*align horizontal*/
}

.platforms {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.platforms > div {
    margin: 20px 5vw;
}

footer {
    position: absolute;
    bottom: 0;   
}

.project-tiles {
    display: flex;
    flex-direction: row;
    justify-content: center; /*align vertical*/
    align-items: center; /*align horizontal*/
    height: 100%;
}

.project-tile {
    width: 33.33%;
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /*align vertical*/
    align-items: center; /*align horizontal*/
    border:1px solid brown;
}


img {
    width: 200px;
    height: auto;
}


/* cater to smaller screen */
@media only screen and (max-width: 720px) {
    .platforms {
        flex-direction: column;
    }

    .project-tiles {
        flex-direction: column;
    }
  }